{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/Logo.png' %}">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    {% endblock %}
</head>

{% block content %}

<body style="font-size: 160%; font-family: 'Courier New', Courier, monospace; font-weight: 510;">

  <div class="container1" id="con1">

    <h1 id="TIR"> This Is Ramza</h1>
    <!-- <h1> This Is Ramza</h1> -->
      <p>
        Python Full Stack Developer
      </p>
  </div>

  {% include 'navbar.html' %}

  <div data-aos="fade-up">
    <div class="container">
      <h2 style="font-size: 230%;">My Story...</h2>
      <br>
      <p>
        Hey there I'm Ramza Reseni, Full Stack Developer in Python. I use Django, HTML, CSS, JavaScript and PostgreSQL as my main tools. I have experience in Angular development, C/C++, and Java. I am a determined developer with fresh ideas to change the way we use our devives in our day to day life.
      </p>

      <hr>
      <div class="skills">
        <h3 style="font-size: 170%;">Tools I use:</h3>

        <br>
        <div class="details">
          <div class="detail-1">
            <ul style="list-style-type: none; float: left;">
              <h4 style="font-size: 190%;">Front-end</h4>
              <li>Django</li>
              <li>HTML5</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Angular</li>
            </ul>
          </div>
          <div class="detail-2">
            <ul style="list-style-type: none; float: right;">
              <h4 style="font-size: 190%;">Back-end</h4>
              <li>Python</li>
              <li>PostgreSQL</li>
              <li>NodeJS</li>
              <li>RestAPI</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="life">
        <h2>Life In Programming</h2>
        <p>
          Programming is a process that leads from an original formulation of a computing problem to executable computer programs. It involves activities such as analysis, developing understanding, generating algorithms, verification of requirements of algorithms including their correctness and resources consumption, and implementation (commonly referred to as coding) of algorithms in a target programming language. Source code is written in one or more programming languages. As referenced from Wikipedia, but to me programming is a process involving observation of a problem, breaking it down to simple understandable concepts, and finally coming up with a solution as you interact with your computer on a digital level.
          <br><br>
          As a learning developer implementing new ideas practically everyday, I have grown mentally and improved on previously
          acquired skills, with access to resources such as Moringa School, Google and Codecademy to mention a few. It mainly
          falls on the individual and how they choose to use available resources.
        </p>
      </div>
        <div class="hobbies">
          <h3>My Life Away From Coding</h3>
          <p>
            All work and no play... you know the rest. Sitting at your computer screen all day has serious health effects in the
            long run. Getting up, doing some stretches, drinking plenty of water, participating in sports and exercise definitely helps. During my free time, I enjoy music, podcasts -a specifically interesting way to learn new things- or a good SitCom. <br><br>
            I engage in some outdoor activities like;
            <ul>
              <li>Swimming</li>
              <li>Basketball</li>
              <li>Hiking</li>
            </ul>
            <br>
            Music is a valuable resource in my workflow and helps me focus. I am an all round team player, and enjoy activities that involve group participation and team building. Sports breaks monotony in daily activities, currently I train as a swimmer, but looking forward to taking on a field sport in the near future.
          </p>
        </div>
    </div>
  </div>

  {{block.super}} {% endblock %}
</body>
{% block scripts %}
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
  // Changing the defaults
  window.sr = ScrollReveal({ reset: true });
  // Customizing a reveal set
  sr.reveal('.containerZ', { duration: 700 });
</script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{% endblock %}

</html>