{% load bootstrap4 %}
{% load static %}
{% block styles %}
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
    <!--Navbar start-->
    <nav class="navbar navbar-expand-md bg-light navbar-light sticky-top" id="Nav1" style="font-size: 15px;">
        <!-- Brand -->
        <a class="navbar-brand" href="/">RAMZA OMBATI</a>
    
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=" {% url 'projects' %} ">Projects</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href=" {% url 'about' %}">About Me</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Contact Me</a>
                    <div class="dropdown-menu" style="background-color: rgb(196, 196, 196); font-size: 120%;">
                        <a class="dropdown-item" href="https://www.linkedin.com/in/ramza-reseni/"><i class="fa fa-linkedin"></i>
                            LinkedIn</a>
                        <a class="dropdown-item" href="https://github.com/ramza007"><i class="fa fa-github"></i> GitHub</a>
                        <a class="dropdown-item" href="https://mail.google.com/mail/?view=cm&fs=1&to=ramzalvo007@gmail.com"><i
                                class="fa fa-envelope"></i> Email</a>
                <li class="nav-item">
                    <a class="nav-link" href="https://photography-io.herokuapp.com/">Photography</a>
                </li>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    
    <!--End of navbar-->
