{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
    {% bootstrap_css %}
    <link href="{% static 'css/photos2.css' %}" rel="stylesheet" type="text/css" media="all">
    {% endblock %}
</head>

{% block content %}

<body style="font-family: 'Courier New', Courier, monospace;">
    <!-- particles.js container -->
    <div id="particles-js"></div> <!-- stats - count particles -->
    <!--Navbar start-->
{% include "navbar.html" %}
    <!--End of navbar-->
    <div class="container">
        <p>
            Welcome to the photo space
        </p>
    </div>
    {{block.super}} {% endblock %}

</body>
{% block scripts %}
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/photos2.js' %}" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
{% endblock %}
</html>