body{
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-bottom: 2%;
}

.containery{
  padding: 18%;
  /* background-color: black;
  color: white; */
  color: black;
  text-align: center;
  border-radius: 20px;
  opacity: 0.8; 
  margin-top: 8%;
  margin-bottom: 10%;
  font-family: 'Cabin Sketch', cursive;
}

.container{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1%;
    border-radius: 20px;
}

.ramza{
    padding-top: 2%;
    text-align: left;
}

.hobbies{

    text-align: left;
    text-emphasis: bold;
}

.life{
    text-align: right;
    margin-bottom: 10%;
    margin-top: 10%;
}
.skills{

    text-align: left;
    margin-bottom: 20%;
    margin-top: 10%;
    
}

h3, h2{
    text-decoration: underline;
    
}

.animated{
    height: 200px;
    /* width: 500%; */
    /* margin-top: 5%; */
    
}

.scrollz{
  /* background-color: black; */
  text-align: center;
  padding-top: 25%;
}

.details{
  /* background-color: blue; */
  padding-bottom: 12%;
  margin-right: 20%;
  /* margin-left: -10%; */
}

/* .detail-2{
  background-color: orange;
  border-color: black;
} */

.detail-1{
  margin-right: -50%;
}

#test {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}