.navbar-light{
    font-weight: 300;
    font-size: 110%;
}

.navbar-brand{
    font-size: 120%;
    padding-right: 0;
}


.navbar-nav{
    /* background-color: orange; */
    color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}