body{
    font-family: 'Poor Story', cursive;
    background-attachment: fixed;
    margin-bottom: 2%;
}

.containerZ{
    background-image: url(../images/stars.png);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 25%;
    padding-bottom: 28%;
}

.containerZ h1{
    font-family: 'Cabin Sketch', cursive;
    font-size-adjust: inherit;
    font-size: 550%;
}


.container-fluid{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8vw;
    margin-bottom: 2%;
    /* margin-top: 6%; */
    /* background-color: aqua; */
}

.container-fluid h1{
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
}

.container-fluid p{
    font-size: 60%;
    margin-top: 5%;
    text-align: center;
}

.container-fluid img{
    width: 60%;
    padding-left: 4vw;
    border-radius: 10px;
}

.container-fluid h4{
    font-size: 70%;
}

#text-container{
    color: white;
    background-color: aqua;
    text-align: right;
}

.detail{
    float: right;
    padding: 5% 8% 5% 8%;
    font-size: 280%;
    font-family: 'Cabin Sketch', cursive;
    /* background-color: darkblue; */
}

