body{
    font-family: 'Poor Story', cursive;
    background-attachment: fixed;
    /* margin-bottom: 2%; */
}

.container-1{
    background-image: url(../images/stars.png);
    background-attachment: fixed;
    padding: 25% 25% 30% 25%;
}

.container-1 h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 600%;
    text-align: center;
}


.container-fluid{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8vw;
    margin-bottom: 2%;
}

.container-fluid h1{
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
}

.container-fluid p{
    font-size: 60%;
    margin-top: 5%;
    text-align: center;
}

.container-fluid img{
    width: 60%;
    padding-left: 4vw;
    border-radius: 10px;
}

.container-fluid h4{
    font-size: 70%;
}


.detail{
    float: right;
    padding: 5% 8% 5% 8%;
    font-size: 280%;
    font-family: 'Cabin Sketch', cursive;
}

