body{
    padding-bottom: 2%;
    overflow-x: hidden;
    background-color: white;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace; 
    /* font-weight: 510; */
}

.container1{
    background-image: url('../images/version1.JPG');
    background-size: 100%;
    /* background-size: contain; */
    padding: 30%;
    padding-left: 5%;
    padding-right: 5%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* margin-top: -12.5%; */
    text-align: center;
}

.container1 p {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    margin-top: 2%;
    text-align: right;
    font-size: 110%;
    opacity: 0.9;
}

.container1 h1 {
    opacity: 0.85;
    text-align: right;
    font-size: 300%;
    font-family: 'Notable', sans-serif;
    /* margin-top: 2%; */
}

.container{
    margin-top: 2%;
    padding: 5%;
    border-radius: 15px;
    opacity: 0.95;
}


h3, h2{
    text-align: center;
}

.image-fixed{
    border-radius: 20px;
    /* position: fixed; */
}



.skills{
    text-align: left;
    margin-bottom: 20%;
    margin-top: 10%;
    
}

.details{
  /* background-color: blue; */
  /* padding-bottom: 2%; */
  margin-right: 20%;
  /* margin-left: -10%; */
}

/* .detail-2{
  background-color: orange;
  border-color: black;
} */

.detail-1{
  margin-right: -50%;
}

.detail-1 ul{
    list-style-type: none; 
    float: left;
}

.detail-1 h4{
    font-size: 190%
}

.detail-2 ul{
    list-style-type: none;
    float: right;
}

.detail-2 h4{
    font-size: 190%
}

.detail{
    float: right;
    /* background-color: darkblue; */
    margin-right: 20%;
    margin-top: 2%;
    padding: 1%;
}


#con1 {
    /* text-align: center; */
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#TIR {
    animation: fadein 4s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    body{
        font-size: 4vw;
        overflow-x: hidden;
    }
    .container1{
        background-size: 100vh;
        padding-bottom: 30vh;
        font-size: 3vw;
        opacity: 1;
    }

    .container1 h1, p{
        opacity: 1;
    }

    .details{
        padding: 0;
        margin: 0;
        text-align: left;
    }


    .detail-1 ul{
        list-style-type: none;
        float: none;
        padding-bottom: 2vh;
    }


    .detail-2 ul{
        list-style-type: none;
        float: none;
    }

}