body{
    padding-bottom: 2%;
    overflow-x: hidden;
    background-color: white;
    font-size: 160%;
    font-family: 'Courier New', Courier, monospace; 
}

.container1{
    background-image: url('../images/RO-001-20.jpg');
    background-size: 100%;
    padding: 30% 10% 30% 30%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: right;
}
.container1 h1 {
    opacity: 0.85;
    font-size: 300%;
    font-family: 'Notable', sans-serif;
}

.container1 p {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bolder;
    margin-top: 2%;
    font-size: 130%;
    opacity: 0.9;
}

.container1 a{
    font-size: 150%;
    color:black;
    padding-left: 1%;
    opacity: 0.7;

}


.container{
    margin-top: 2%;
    padding: 18vh 5vw 18vh 5vw;
    opacity: 0.95;
}

.container h2{
    font-size: 230%;
    text-align: center;
}

.skills{
    text-align: left;
    margin-bottom: 20%;
    margin-top: 10%;
    padding: 0 10vw 0 10vw;
}

.skills h3{
    text-align: center;
    font-size: 170%;
}


.detail-1 ul{
    list-style-type: none; 
    float: left;
}

.detail-1 h4{
    font-size: 190%
}

.detail-2 ul{
    list-style-type: none;
    float: right;
}

.detail-2 h4{
    font-size: 190%
}

#con1 {
    /* text-align: center; */
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

#TIR {
    animation: fadein 4s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    
}

#links{
    animation: fadein 11s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 480px) {
    body{
        font-size: 4vw;
        overflow-x: hidden;
    }
    
    .container1{
        background-size: 90vh;
        background-image: url('../images/version2.JPG');
        padding: 50vh 0 40vh 0;
        font-size: 3vw;
        opacity: 1;
        color: whitesmoke;
    }

    .container1 h1{
        opacity: 1;
        padding-top: 25vh;
    }

    .container1 p{
        opacity: 1;
    }

    .container{
        padding: 5%;
    }

    .skills{
        padding: 0;
    }

    .detail-1 ul{
        list-style-type: none;
        float: none;
        padding-bottom: 2vh;
    }


    .detail-2 ul{
        list-style-type: none;
        float: none;
    }

}

/* iphone x and 11 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 


}

/* ipads */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {

    body{
        font-size: 2.5vw;
        overflow-x: hidden !important;
    }
    .container1{
        background-size: 100vh;
        padding: 40vh 1vh 20vh 1vh;
        font-size: 3vw;
        opacity: 1;
        /* color: whitesmoke; */
    }

    .container1 h1, p{
        opacity: 1;
    }

    .details{
        padding: 0;
        margin: 0;
        text-align: left;
    }


    .detail-1 ul{
        list-style-type: none;
        float: left;
        padding-bottom: 2vh;
    }


    .detail-2 ul{
        list-style-type: none;
        float: right;
    }
}

/* @media (max-device-width : 1366px){
    body{
        font-size: 1.7vw;
    }

    .container1 {
        padding-bottom: 40vh;
        background-size: cover;
    }


} */